
/* Disable user selection execpt input tags. */
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

input {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

/* Disable link touch callout.
 * http://phonegap-tips.com/articles/essential-phonegap-css-webkit-touch-callout.html
 */
a {
  -webkit-touch-callout: none;
}

/* Disable ellipsis on button text. */
.ui-btn {
  text-overflow: clip !important;
}

/* Scroll panel separately from the content.
 * http://stackoverflow.com/questions/16305488/scroll-jquery-mobile-panel-separately-from-content
 */
.ui-panel.ui-panel-open {
  position: fixed;
}
.ui-panel-inner {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* Increase the size of icon buttons in the header. */
.ui-header .ui-btn-icon-notext {
  padding: .2em .2em;
}

/* Decrease gap between blocks in the grid. */
.ui-grid-nogap [class*=ui-block-]>.ui-btn {
  margin: .1em;
  padding: .7em .1em;
}

/* Show visible camera groups in different style. */
.ui-btn-camera-visible {
  color: #ffce00 !important;
}

/* Set the position of device snapshot image. */
.device-list-item img {
  position: absolute;
  width: 120px;
  height: 65px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: .2em .2em;
}

/* Remove the margin and padding of image live content. */
#image-live-content {
  margin: 0;
  padding: 0;
}

/* Set the background color of image live page. */
#image-live-page,
#image-live-content,
#image-live-canvas {
  background-color: #000010;
}

/* Image Live Title */
#image-live-panel-title {
  color: #ffce00 !important;
}

/* Apply speed of page transition animation */
.in, .out {
  -webkit-animation-duration: 200ms !important;
}

